<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @enfermedadesoculare.nombre %>
</p>

<%= link_to 'Editar', edit_enfermedadesoculare_path(@enfermedadesoculare) %> |
<%= link_to 'Volver', enfermedadesoculares_path %>
